# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment files
env/
venv/
*.env

# Ignore database files
db.sqlite3
*.sqlite3

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp

# Ignore compiled files
*.pyc