{% extends "container/base.html" %}
{% block content %}

<div class="table-container">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>QTY</th>
                <th>Order</th>
                <th>InPrep</th>
                <th>Diff</th>
                <th>Each</th>
                <th>Color</th>
                <th>ShowQTY</th>
                <!-- <th>Avail.Qty</th> -->
                <th>Pallet</th>
                <th>Case</th>
                <th>Loca</th>
                <th>BlongTo</th>
                <th>Shelf</th>
                <!-- <th>Type</th> -->
                <th>Price</th>
                <th>His</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory_items %}
            <tr {% if item.quantity_for_neworder < 0 %}class="table-danger"{% endif %} >
                <td><a href="{% url 'edit_product' item.id %}">{{ item.name }}</a></td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.quantity_for_neworder }}</td>
                <td>{{ item.quantity_to_stock }}</td>
                <td>{{ item.quantity_diff }}</td>
                               
                <td>{{ item.pallet }}</td>
                <td>{{ item.color }}</td>
                <td>{{ item.shownumber }}</td> 
                <!-- <td>{{ item.availableQTY }}</td>  -->
                <td>{{ item.palletnumber }}</td>
                <td>{{ item.case }}</td>
                <td>{{ item.Location }}</td>
                <td>{{ item.blongTo.name }}</td>
                <td>{{ item.ShelfRecord }}</td>
                <!-- <td>{{ item.type }}</td> -->
                <td>{{ item.price }}</td>
                <td style="height: 23px;">
                    <a href="{% url 'order_history' item.id %}" class="text-primary text-decoration-underline">
                        View
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No inventory items available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <p><strong>Total pallets : {{total_pallets}}</strong></p>
        <p><strong>Total pallets2 : {{total_pallets2}}</strong></p>
    </div>
</div>

{% endblock %}