{% extends "container/base.html" %}
{% block content %}

<div class="row mb-3">
    <div class="col-md-3">
        <h4>Import Inventory</h4>    
        <!-- Import Inventory -->
        <form action="/import_inventory/" method="post" enctype="multipart/form-data">
            <div class="input-group">
                {% csrf_token %}
                <input type="file" name="excel_file" accept=".xlsx, .xls" class="form-control">
                <button type="submit" class="btn btn-primary">Upload Excel</button>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h4>Import Aline</h4>
        <!-- Import Inventory -->
        <form action="/import_aline/" method="post" enctype="multipart/form-data">
            <div class="input-group">
                {% csrf_token %}
                <input type="file" name="excel_file" accept=".xlsx, .xls" class="form-control">
                <button type="submit" class="btn btn-primary">Upload Excel</button>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h4>Import Accounting</h4>
        <form action="/import_accounting/" method="post" enctype="multipart/form-data">
            <div class="input-group">
                {% csrf_token %}
                <input type="file" name="excel_file" accept=".xlsx, .xls" class="form-control">
                <button type="submit" class="btn btn-primary">Upload Excel</button>
            </div>
        </form>
    </div>
</div>

<hr class="my-4" style="border-color: #FF0000; border-width: 2px;">

<div class="row mb-3">
    <div class="col-md-2">
        <h4>Print Label</h4>
        <form action="/print_label_only/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <input type="text" name="so_number" id="so_number" class="form-control" placeholder="Enter SO Number" required>
            </div>
            <div class="mb-2">
                <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantity" required>
            </div>
            <button type="submit" class="btn btn-success" id="printLabel">
                Print Label
            </button>
        </form>
    </div>
    <div class="col-md-2">
        <h4>Print Label with Lot</h4>
        <form action="/print_label_containerid_lot/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <input type="text" name="so_number" id="so_number" class="form-control" placeholder="Enter SO Number" required>
            </div>
            <div class="mb-2">
                <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantity" required>
            </div>
            <div class="mb-2">
                <input type="text" name="containerid" id="containerid" class="form-control" placeholder="ContainerID" required>
            </div>
            <div class="mb-2">
                <input type="text" name="lot_number" id="lot_number" class="form-control" placeholder="Lot Number" required>
            </div>
            <button type="submit" class="btn btn-success" id="printLabel">
                Print Label
            </button>
        </form>
    </div>

    <div class="col-md-2">
        <h4>Print Mcd Label</h4>
        <form action="/print_mcd_label/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <input type="text" name="lot_number" id="lot_number" class="form-control" placeholder="LOT Number" required>
            </div>
            <div class="mb-2">
                <input type="month" name="start_date" id="start_date" class="form-control" required>
            </div>
            <div class="mb-2">
                <input type="month" name="expired_date" id="expired_date" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success" id="printMcdLabel">
                Print Mcd Label
            </button>
        </form>
    </div>

    <div class="col-md-2">
        <h4>Print forklift BOL</h4>
        <form action="/print_forklift_bol/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <textarea class="form-control" id="ship_to" name="ship_to" rows="4" required></textarea>
            </div>
            <div class="mb-2">
                <input type="date" name="shipout_date" id="shipout_date" class="form-control" required>
            </div>
            <div class="mb-2">
                <input type="date" name="delivery_date" id="delivery_date" class="form-control" required>
            </div>
            <div class="mb-2">
                <input type="number" name="forklift_number" id="forklift_number" class="form-control" placeholder="Forklift Number" required>
            </div>
            <button type="submit" class="btn btn-success" id="printMcdLabel">
                Print Forklift BOL
            </button>
        </form>
    </div>
    
</div>

<hr class="my-4" style="border-color: #FF0000; border-width: 2px;">

<div class="row">
    <div class="col-md-3">
        <h4>Export Pallets</h4>
        <form method="GET" action="{% url 'export_pallet' %}" class="mb-3">
            <div class="input-group">
                <select name="year" class="form-control" required>
                    <option value="">Select Year</option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
                <select name="month" class="form-control" required>
                    <option value="">Select Month</option>
                    {% for month in months %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Export Pallets</button>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h4>Export Inventory</h4>
        <div class="input-group">
            <a href="{% url 'export_stock' %}?export=1" class="btn btn-primary">Export Inventory</a>
        </div>
    </div>
</div>

<hr class="my-4" style="border-color: #FF0000; border-width: 2px;">

<div class="row mt-4">
    <div class="col-md-4">
        <h4>Email Content Preview</h4>
        <form method="post" action="{% url 'preview_email'%}"> 
            {% csrf_token %}
            <div class="row">
                <div class="col-6"> 
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <input type="text" name="officedepot_number" id="officedepot_number" class="form-control" placeholder="OfficeDepot Number" style="width:180px;" required style="min-width: 100px;">
                        <button type="submit" class="btn btn-outline-primary" name="action" value="officedepot">
                            <i class="fas fa-plus"></i> OfficeDepot
                        </button>
                    </div>
                </div>
                <div class="col-6"> 
                    <div class="d-flex justify-content-end gap-2">
                        <button type="submit" name="action" value="inventory" class="btn btn-outline-primary">
                            <i class="fas fa-plus"></i> Inventory
                        </button>
                        <button type="submit" name="action" value="default" class="btn btn-outline-primary">
                            <i class="fas fa-plus"></i> Order Received
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <div class="container-id-display">{{ recipient }}</div>
                    <div class="container-id-display">{{ subject }}</div>
                    <textarea id="emailContent" class="form-control" rows="8" readonly>{{ body }}</textarea>
                </div>

                <div class="mb-3">
                    <a href="mailto:{{ recipient }}?subject={{ subject|urlencode }}&body={{ body|urlencode }}" 
                        class="btn btn-secondary">
                        <i class="fas fa-envelope"></i> Open in Outlook
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <h4>Inventory Count Number</h4>
        <a href="{% url 'inventory_summary' %}" class="btn btn-primary mb-3">Inventory Summary</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Qty</th>
                    <th>Details (Sum Expression)</th>
                    <th>Type</th>
                    <th>Percent</th>
                </tr>
            </thead>
            <tbody>
                {% for row in summary %}
                <tr>
                    <td>{{ row.employee }}</td>
                    <td>{{ row.total_qty }}</td>
                    <td>{{ row.qty_expression }}</td>
                    <td>{{ row.product_count }} 种</td>
                    <td>{{ row.percentage }}%</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No inventory records found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 显示总数量 -->
        <div class="mt-3 text-end">
            <p><strong>Total Quantity: {{ total_qty_all }}</strong></p>
            <p><strong>Total Quantity Diff: {{ total_qty_diff }}</strong></p>
        </div>
    </div>
</div>

{% endblock %}