{% extends "container/base.html" %}
{% block content %}

<div class="container">
    <h4>Print Container</h4>
    <div class="row">
        <div class="d-flex flex-wrap align-items-start">
            <div class="me-2 mb-2">
                <button class="btn btn-primary  w-100" id="printDetail">Print Detail</a>
            </div>
            <!-- <div class="me-2 mb-2">
                <button class="btn btn-primary  w-100" id="printLabel">Print Label</a>
            </div> -->
            <div class="me-2 mb-2">
                <button class="btn btn-primary  w-100" id="printColorLabel">Print Color Label</a>
            </div>
            <div class="me-2 mb-2">
                <button class="btn btn-primary  w-100" id="printDeliveryOrder">Delivery Order</a>
            </div>
            <!-- 右侧按钮组，用 ms-auto 推到右边 -->
            <div class="d-flex ms-auto gap-2 flex-wrap">
                <div class="ms-auto mb-2">
                    <a href="{% url 'container_email' container.container_id%}?type=do" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Send DO Email
                    </a>
                </div>
                <div class="mb-2">
                    <a href="{% url 'container_email' container.container_id%}?type=received" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Send Received In
                    </a>
                </div>
                <div class="mb-2">
                    <a href="{% url 'container_email' container.container_id%}?type=empty" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Send Empty
                    </a>
                </div>   
            </div>
        </div>
    </div>

    <hr class="my-2 border-2 opacity-100">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- 左侧：标题和取消订单按钮 -->
        <div class="d-flex align-items-center">
            <h4>Edit Container</h4>
        </div>
        <div class="ml-auto">
            <button class="btn btn-primary" id="receivedInBtn">
                {% if container.is_updateInventory %}Restore Inventory{% else %}Received in{% endif %}
            </button>
            <a href="{% url 'container_advance77' %}" class="btn btn-secondary ms-2">Back</a>
        </div>
    </div>

    <div class="container-form">
        <form id="edit-container-form" method="POST" enctype="multipart/form-data" action="{% url 'edit_container' container.container_id %}">
            {% csrf_token %}
            <div class="row mb-2">
                <div class="col-md-2">
                    <label class="form-label">Container ID</label>
                    <div class="container-id-display">{{ container.container_id }}</div>
                    <input type="hidden" id="container-id" value="{{ container.container_id }}">
                </div>
                <div class="col-md-2">
                    <label for="pickup-number" class="form-label">Pickup Number</label>
                    <input type="text" class="form-control" id="pickup-number" name="pickup_number" 
                        value="{{ container.pickup_number }}">
                </div>
                <div class="col-md-2">
                    <label for="lot_number" class="form-label">Lot Number</label>
                    <input type="text" class="form-control" id="lot_number" name="lot_number" 
                        value="{{ container.lot }}">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Container Type</label>
                    <select class="form-select" id="inbound_category" name="inbound_category" required>
                        <option value="">Select Type...</option>
                        {% for category in inboundCategory %}
                        <option value="{{ category.id }}" {% if category.id == container.inboundCategory.id %}selected{% endif %}>
                            {{ category }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Manufacturer</label>
                    <select class="form-select" id="manufacturer" name="manufacturer" required>
                        <option value="">Select Manufacturer...</option>
                        {% for category in manufacturer %}
                        <option value="{{ category.id }}" {% if category.id == container.manufacturer.id %}selected{% endif %}>
                            {{ category }}
                        </option>
                        {% endfor %}
                    </select>
                </div>                
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <label for="customer_name" class="form-label">Customer</label>
                    <select class="form-select" id="customer_name" name="customer_name" required>
                        <option value="">Select Customer...</option>
                        {% for customer in customers %}
                        <option value="{{ customer.id }}" {% if customer.id == container.customer.id %}selected{% endif %}>
                            {{ customer.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="logistics_name" class="form-label">Logistics</label>
                    <select class="form-select" id="logistics_name" name="logistics_name" required>
                        <option value="">Select Logistics...</option>
                        {% for customer in logistics %}
                        <option value="{{ customer.id }}" {% if customer.id == container.logistics.id %}selected{% endif %}>
                            {{ customer.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>            
                <div class="col-md-3">
                    <label for="station_name" class="form-label">Railway Station</label>
                    <select class="form-select" id="station_name" name="station_name" required>
                        <option value="">Select Railway Station...</option>
                        {% for customer in railstation %}
                        <option value="{{ customer.id }}" {% if customer.id == container.railwayStation.id %}selected{% endif %}>
                            {{ customer.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="carrier_name" class="form-label">Carrier</label>
                    <select class="form-select" id="carrier_name" name="carrier_name" required>
                        <option value="">Select Carrier...</option>
                        {% for customer in carrier %}
                        <option value="{{ customer.id }}" {% if customer.id == container.Carrier.id %}selected{% endif %}>
                            {{ customer.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <label for="railway-date" class="form-label">Railway Date</label>
                    <input type="date" class="form-control" id="railway-date" name="railway_date" 
                        value="{{ container.railway_date|date:'Y-m-d' }}">
                </div>
                <div class="col-md-3">
                    <label for="pickup-date" class="form-label">Pickup Date</label>
                    <input type="date" class="form-control" id="pickup-date" name="pickup_date" 
                        value="{{ container.pickup_date|date:'Y-m-d' }}">
                </div>
                <div class="col-md-3">
                    <label for="delivery-date" class="form-label">Delivery Date</label>
                    <input type="date" class="form-control" id="delivery-date" name="delivery_date" 
                        value="{{ container.delivery_date|date:'Y-m-d' }}">
                </div>
                <div class="col-md-3">
                    <label for="empty-date" class="form-label">Empty Date</label>
                    <input type="date" class="form-control" id="empty-date" name="empty_date" 
                        value="{{ container.empty_date|date:'Y-m-d' }}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <label for="plts" class="form-label">PLTS</label>
                    <input type="number" class="form-control" id="plts" name="plts" 
                        value="{{ container.plts }}" required>
                </div>
                <div class="col-md-2">
                    <label for="plts" class="form-label">Weight</label>
                    <input type="number" class="form-control" id="weight" name="weight" min="1"
                        value="{{ container.weight }}" required>
                </div>
                <div class="col-md-3">
                    <label for="pickup-number" class="form-label">REF NO</label>
                    <input type="text" class="form-control" id="ref_number" name="ref_number" 
                        value="{{ container.refnumber }}">
                </div>
                <div class="col-md-3">
                    <label for="lot_number" class="form-label">MBL</label>
                    <input type="text" class="form-control" id="mbl" name="mbl" 
                        value="{{ container.mbl }}">
                </div>
                <div class="col-md-3">
                    <label for="container-pdf" class="form-label">Container PDF</label>
                    <input type="file" class="form-control" id="container-pdf" name="container_pdf" accept="application/pdf">
                    {% if container.container_pdfname %}
                        <p class="text-muted mb-0">{{ container.container_pdfname }}</p>
                    {% endif %}                    
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-12">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description" 
                        value="{{ container.content }}">
                </div>
            </div>

            <!-- 添加Container项目表格 -->
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col d-flex justify-content-between align-items-center">
                            <h5>Container Items</h5>
                            <button type="button" class="btn btn-primary" id="addRow">
                                ➕ Add New Line
                            </button>
                            <input type="hidden" name="containeritems" id="containeritems-field">
                        </div>
                    </div>
                    <table class="table table-bordered mb-0"  id="orderTable">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th> 
                                <th>Pallet</th>
                                <th>Case</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in container_items %}
                            <tr>
                                <td>
                                    <select class="form-control product-select">
                                        {% for product in products %}
                                            <option value="{{ product.id }}"
                                                {% if product.id == item.product.id %}selected{% endif %}>
                                                {{ product.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="number" class="form-control quantity-input" value="{{ item.quantity }}" min="1">
                                </td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center" ><span>{{ item.pallet_qty }}</span></div>
                                </td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center" ><span>{{ item.case_qty }}</span></div>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm remove-row">Remove</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <p class="mb-0">Total Quantity: <strong>{{ total_quantity }}</strong> cases</p>
                        <p class="mb-0">Total Pallet: <strong>{{ total_pallet }}</strong> plts</p>
                    </div>
                </div>
            </div>

            <!-- Save -->
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Save Container</button>          
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const containerID = '{{ container.container_id }}';

        // 打印详单
        document.getElementById('printDetail').addEventListener('click', function() {
            window.open(`/print_container_detail/${containerID}/`, '_blank');
        });

        // 打印标签
        // document.getElementById('printLabel').addEventListener('click', function() {
        //     window.open(`/print_container_label/${containerID}/`, '_blank');
        // });

        // 打印标签
        document.getElementById('printColorLabel').addEventListener('click', function() {
            window.open(`/print_container_color_label/${containerID}/`, '_blank');
        });

        // 打印标签
        document.getElementById('printDeliveryOrder').addEventListener('click', function() {
            window.open(`/print_container_delivery_order/${containerID}/`, '_blank');
        });
        

        // 编辑container条目
        const form = document.getElementById('edit-container-form');
        const itemsField = document.getElementById('containeritems-field');

        form.addEventListener('submit', function (e) {
            const rows = document.querySelectorAll('#orderTable tbody tr');
            let items = [];

            rows.forEach(row => {
                const productId = row.querySelector('.product-select').value;
                const quantity = row.querySelector('.quantity-input').value;

                if (productId && quantity) {
                    items.push({
                        product_id: productId,
                        quantity: quantity
                    });
                }
            });

            // 将 items 转为 JSON 字符串写入隐藏 input
            itemsField.value = JSON.stringify(items);
        });

        // 添加新行
        document.getElementById('addRow').addEventListener('click', function () {
            const newRow = `
                <tr>
                    <td>
                        <select class="form-control product-select">
                            <option value="">Select Product</option>
                            {% for product in products %}
                                <option value="{{ product.id }}">{{ product.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control quantity-input" value="1" min="1">
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm remove-row">Remove</button>
                    </td>
                </tr>
            `;
            document.querySelector('#orderTable tbody').insertAdjacentHTML('beforeend', newRow);
        });

        // 删除行
        document.addEventListener('click', function (e) {
            if (e.target.classList.contains('remove-row')) {
                e.target.closest('tr').remove();
            }
        });
   
        // Container更新库存
        const receivedInBtn = document.getElementById('receivedInBtn');
        receivedInBtn.addEventListener('click', function () {
            fetch(`/receivedin_inventory/${containerID}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const is_updateInventory = data.is_updateInventory;

                    // 更新按钮文字
                    receivedInBtn.textContent = is_updateInventory ? 'Restore Inventory' : 'Received in';

                    // 跳转到订单列表页面
                    window.location.href = data.redirect_url;
                } else {
                    alert('操作失败：' + data.message);
                }
            });
        });

    });
    
</script>

{% endblock %}