{% extends "container/base.html" %}
{% block content %}

<div class="table-container">
    <h2>Monthly Labor Fee</h2>
    <div class="row">
        <div class="col-md-6">   
            <form method="GET" action="{% url 'show_pallet_number' %}" class="mb-3">
                <div class="input-group">
                    <select name="year" class="form-control" id="selectYear" required>
                        <option value="">Select Year</option>
                        {% for year in years %}
                            <option value="{{ year }}" {% if year|stringformat:"s" == selectYear %}selected{% endif %}>
                                {{ year }}
                            </option>
                        {% endfor %}
                    </select>
                    <select name="month" class="form-control" id="selectMonth" required>
                        <option value="">Select Month</option>
                        {% for month in months %}
                            <option value="{{ month }}" {% if month|stringformat:"s" == selectMonth %}selected{% endif %}>
                                {{ month }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Select</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <label for="inbound_number" class="form-label">Inbound Number</label>
                    <input type="text" class="form-control" id="inbound_number" name="inbound_number" value="{{ total_in_plts }}">
                </div>
                <div class="col-md-3">
                    <label for="outbound_number" class="form-label">Outbound Number</label>
                    <input type="text" class="form-control" id="outbound_number" name="outbound_number" value="{{ total_out_plts }}">
                </div>
                <div class="col-md-3">
                    <label for="pallet_storage_number" class="form-label">Pallet Storage</label>
                    <input type="text" class="form-control" id="pallet_storage_number" name="pallet_storage_number" value="{{ total_pallets }}">
                </div>
                <div class="col-md-3">
                    <label for="monthlyInvoiceBtn" class="form-label">Generate Invoice</label>
                    <a href="#" class="btn btn-primary" id="monthlyInvoiceBtn">
                        Monthly Invoice
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <h4>Container In Summary</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Inbound Date</th>
                        <th>Container ID</th>
                        <th>PLTS</th>
                        <th>Customer</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody id="invoiceTableBody">
                    {% for row in gloves_in_data %}
                    <tr>
                        <td>{{ row.inbound_date | date:'m/d/Y' }}</td>
                        <td>{{ row.container_id }}</td>
                        <td>{{ row.plts }}</td>
                        <td>{{ row.customer }}</td>
                        <td>{{ row.description }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>
        <div class="col-md-6">
            <div>
                <h4>Gloves In/Out Cost Summary</h4>
                <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>Type</th>
                    <th>Pallets</th>
                    <th>Unit</th>
                    <th>Value ($)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in cost_table %}
                    <tr>
                    <td>{{ row.type }}</td>
                    <td>{{ row.pallets }}</td>
                    <td>$ {{ row.unit }}</td>
                    <td>$ {{ row.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            <div>
                <p>Monthly Container Number: {{ total_container }}</p>
                <p>Pallet Inbound Labor Fee: {{ total_in_plts }}</p>
                <p>Pallet Outbound Labor Fee: {{ total_out_plts }}</p>
                <p>Pallet Fee: {{ total_plts }}</p>
                <p>Pallet Storage Per Month: {{ total_pallets }}</p>
                <p>Total Price: ${{ total_price }}</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("monthlyInvoiceBtn").addEventListener("click", function (event) {
        const year = document.getElementById("selectYear").value;
        const month = document.getElementById("selectMonth").value;
        const inboundNumber = document.getElementById("inbound_number").value;
        const outboundNumber = document.getElementById("outbound_number").value;
        const palletstoragenumber = document.getElementById("pallet_storage_number").value;
         console.log("Inbound:", inboundNumber);

        if (!year || !month) {
            alert("Please select both year and month.");
            return;
        }
        console.log('year: ', year)
        const url = `{% url 'export_pallet_invoice' %}?year=${year}&month=${month}&inboundNumber=${inboundNumber}&outboundNumber=${outboundNumber}&palletstoragenumber=${palletstoragenumber}`;
        window.location.href = url;
    });
</script>
    
{% endblock %}