{% extends "container/base.html" %}
{% block content %}
    <h2>📜 Invoice 页面</h2>
    <p>这里是 Invoice 相关信息。</p>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>File Name</th>
                <th>Content</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for container in containers %}
            <tr>
                <td>{{ container.id }}</td>
                <td>{{ container.file_name }}</td>
                <td>{{ container.content }}</td>
                <td>{{ container.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
